// $primary: #1e90ff;
// $darkPrimary: #0000ff;
// $primary: #999900;
// $darkPrimary: #525100;
$primary: #01009A;
$darkPrimary: #01004E;
$hover: #ccc;
$secondary: #F3E4A7;
$title: #272727;
$success: #51DB78;
$gray: #ccc;
$white: #fffff;;
$warning: #F1B814;
$danger: #FF0000;
$text: #84868B;