// $primary: #1e90ff;
// $darkPrimary: #0000ff;
// $primary: #999900;
// $darkPrimary: #525100;
$primary: #01009A;
$darkPrimary: #01004E;
$hover: #ccc;
$secondary: #ffc107;
$title: #272727;
$success: #51DB78;
$gray: #ccc;
$white: #fffff;;
$warning: #f4f10c;
$danger: #FF0000;
$text: #84868B;