.active-menu {
  background-color: #01009A;
  color: white;
}

.menu-holder label {
  margin-bottom: 0;
}

.menu-holder {
  padding: 5px 0 ;
}

.header-navbar,
.main-sidebar,
.system-header {
  z-index: 99 !important;
}

.main-sidebar .sidebar {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

.main-sidebar .sidebar .sidebar-menu {
  width: calc(100% + 17px);
  height: 100%;
  overflow: scroll;
  box-sizing: border-box;
  padding-bottom: 60px;
}

.username-option:hover {
  background: #ddd !important;
  cursor: pointer;
}

.bg-primary{
  color: #fff !important;
}

.multiselect__option--highlight, .multiselect__tag{
  background-color: #01009A !important;
}

.multiselect__tag-icon{
  color: #fff !important;
}

.multiselect__option--highlight::after{
  background-color: #F1BF14 !important;
}

@media (max-width: 991px) {
  .main-sidebar {
    min-height: unset;
  }
}